<div class="hero-unit">
<h1>Welcome to Fairplaytoyou.com </h1>
<p>
	You've found the home page for the
	<%= link_to "Fair Play to You", "http://favoursoup.com"%> 
	application.
</p>
<p>
	<%= link_to "Sign up Now!", "#", class: "btn btn-primary btn-large"%>
</p>
</div>



